<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogSite CWEB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the CWEB Blog</h1>
        <nav>
            <a href="">Blogs</a>
            <a href="">Add Blog</a>
        </nav>
    </header>

    <hr>
    
    <section id="about">
        <h2>About CWEB Blog</h2>
        <p>Welcome to the CWEB Blog, a simple, dynamic platform built to showcase and share ideas through posts, discussions, and community interaction.
            This site is powered by a Flask backend, providing all routing logic and page rendering. 
            Through Jinja2 templates, every page is crafted to be clean, consistent, and responsive. 
            Intuitive navigation routes allow visitors to access every part of the site with ease.
            <a href="">Learn More</a>
        </p>

    </section>
</body>
</html>